.traffic-signal-pole {
    background-color: #333;     
    width: 10px; 
    height: 150px;     
    margin: 0 auto; 
}

.trafficLight{
    background-color: black;
    flex-direction: column;
    width: 135px;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.light{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin: 10px;
}


.red{
    background-color: rgb(114, 2, 2);
    
}

.yellow{
    background-color: rgb(122, 122, 0);
}

.green{
    background-color: rgb(0, 70, 0);
}

.red.glow{
    background-color: red;
    box-shadow: 0 0 50px 20px red;
}

.yellow.glow{
    background-color: yellow;
    box-shadow: 0 0 50px 20px yellow;
}

.green.glow{
    background-color: green;
    box-shadow: 0 0 50px 20px green;
}

